# Configuración de base de datos PostgreSQL
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
# Clave secreta para cifrar contraseñas y tokens en la base de datos
APP_SECRET=
# Secreto compartido para autenticación del Webhook de Alertmanager / Prometheus
PROMETHEUS_WEBHOOK_SECRET=