@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F6F8FB; /* Fondo soft de Vepagos */
  --foreground: #001F60; /* Azul Navy de Vepagos */
  
  /* Vepagos Border Radii */
  --radius-card: 14px;
  --radius-input: 10px;
  --radius-pill: 999px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-barlow), sans-serif;
}
